html, body {
  background-color: white;
  font-family: 'Source Sans Pro', 'Lucida Grande', Verdana, Helvetica, Arial;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  font-family: 'Source Sans Pro', 'Noto Sans', MuseoSans, 'Helvetica Neue', Arial;
  color: #444;
}

a {
  color: #333;
  text-decoration: none;

  &:hover { color: black; text-decoration: underline;}
}

a.linkify {
  text-decoration: underline;
}

.actions {
  a {
    color: rgb(154, 148, 141);
    font-size: 11px;
    text-decoration: none;

    &:hover { text-decoration: underline; }
  }
}

.separator {
  margin-top: 50px;
  padding-top: 10px;
  border-top: 1px solid rgb(219, 218, 215);
}

.followers {
  font-size: 12px;

  .follower { font-weight: bold; }
  .follow { font-weight: bold; color: #080; }
  .unfollow { color: #800; }
}
