.calendar-navigation {
  margin-bottom: 20px;
  span { font-weight: 400; }
  a { color: #999; font-weight: 300; }
}

.calendar {
  margin-top: 30px;
  width: 100%; 
  overflow: hidden;

  .day { 
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    width: 14%;
    padding: 2px 0;
    min-height: 80px;
  }
  .day-head { min-height: 2em; color: #999; }
  .day-number, .day-name { 
    display: block;
    padding: 0 4px;
    font-weight: 300;
    font-size: 1.5em; 
  }
  .day-number { 
    color: #333; 
  }

  .day-today {
    background-color: #fff7cd;
  }

  .event {
    font-weight: 300;
    display: block;
    overflow: hidden;
    padding: 1px 2px 2px 2px;
    margin: 1px 2px;
    background-color: #0078e7;
    color: white;
    border-radius: 1px;
    a { color: white; }
  }
  a.event-node-title {
    font-size: 80%;
    color: #EFEFEF;
  }
}


