form {
  width: 100%;

  div.input {
    margin: 10px 0;
    label, .hint { 
      font-size: 14px;
      color: #9a948d;
      display: block;
      padding: 2px 0;
    }
    .hint { font-size: 11px; }
  }

  div.buttons { margin-top: 20px; }

  input[type=text], input[type=url], 
  textarea {
    width: 100%;
    padding: 4px 2px;
    border: 1px solid rgb(222, 220, 215);
    box-shadow: none;
  }

  span.hint { margin-top: -10px; }
  
  textarea {
    font-size: 12px;
    height: 40em; 
  }
  .hidden_input { display: none; }
}

form {
  .node_title input { font-size: 2em; height: 1.2em; }
}

#wysihtml5-toolbar a { background-color: white; }
