

html {
  background: url(/white.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  color: black;
}


a.linkify {
  text-decoration: underline;
}


.separator {
  margin-top: 50px;
  padding-top: 10px;
  border-top: 1px solid rgb(219, 218, 215);
}

