
#main {
  width: 580px;
  margin: 80px auto;
}

header {
  position: fixed;
  width: 100%; overflow: hidden;
  top: 0;
  height: 40px;
  background-color: white;
  border-bottom: 1px solid #dbdad7;

  a.current {
    display: block;
    padding: 12px 17px;
    text-decoration: none;
    font-size: 14px;
    color: #444;

    &:hover {
      background-color: #dcdbd7;
    }
  }

  .current.group {
    float: left;
    border-right: 1px solid #dbdad7;
  }
  .current.user {
    float: right;
    border-left: 1px solid #dbdad7;
  }
}
