
@media only screen and (min-device-width: 720px) {
  #column { 
    max-width: 640px;
    padding: 40px;
    margin: 40px auto 50% auto;
    background-color: white;
  }
}
@media only screen and (max-device-width: 720px) {
  #column { 
    max-width: 520px;
    padding: 40px;
    margin: 40px auto 50% auto;
    background-color: white;
  }
}




header {
  position: fixed;
  width: 100%; overflow: hidden;
  top: 0;
  height: 40px;
  background-color: white;
  border-bottom: 1px solid #dbdad7;
  color: #444;

  .links, .search {
    float: left;
    margin-top: 10px;
    a { 
      display: block; float: left;
      i { font-size: 18px; }
      padding: 0px 0px 0px 10px;
      font-size: 12px; 
    }

  }

  .search {
    float: right;
    form { float: left; width: 200px; margin: -3px 10px 0 0; }
  }

  a.current {
    display: block;
    padding: 12px 17px;
    text-decoration: none;
    font-size: 14px;

    &:hover {
      background-color: #dcdbd7;
    }
  }

  .current.space {
    float: left;
    border-right: 1px solid #dbdad7;
  }
  .current.user {
    float: right;
    border-left: 1px solid #dbdad7;
  }
}

.alert {
  padding: 10px;
  background-color: #FEE;

  &.info {
    border: 1px solid #00529B;
    background-color: #BDE5F8; 
  }
  &.danger {
  }

  p {
    margin: 3px 0;
    font-size: 12px;
  }
}
