.comments {
  div.input { margin: 0; }
  textarea { height: 2em; transition: all 0.3s ease; }
  textarea:focus { height: 8em; }
}

.calendar {
  width: 100%; 
  overflow: hidden;

  .day { 
    display: inline-block;
    vertical-align: top;
    width: 12%;
    padding: 4px 1%;
    min-height: 80px;
  }
  .day-number { 
    font-weight: 300;
    font-size: 1.5em; 
    color: #333; 
  }
  .day-today {
    background-color: #fff7cd;
  }
}

.new-session-form, .new-user-form {
  float: left;
  width: 50%;
}

.send-token-form {
  width: 100%; overflow: hidden;
  padding-top: 40px;
}
