.comments {
  div.input { margin: 0; }
  textarea { height: 2em; transition: all 0.3s ease; }
  textarea:focus { height: 8em; }
}
.comment {
  width: 100%;
  overflow: hidden;
}

.comment-user {
  float: left;
  font-weight: bold;
  margin-right: 0.2em;
}

.comment-edit, .comment-delete {
  display: block;
  font-size: 12px;
  float: right;
  margin-left: 1em;
}


.new-session-form, .new-user-form {
  float: left;
  width: 50%;
}

.send-token-form {
  width: 100%; overflow: hidden;
  padding-top: 40px;
}
