.node {
  margin: 10px 0 30px 0;
  
  .title { margin: 10px }

  .node_image {
    display: block;
    width: 100%;
    img { width: 100%;}
  }

  .content {
    width: 100%; overflow: hidden;

    .body {
      margin: 10px;
      font-size: 80%;
      color: #555;
      p { margin: 3px 0; }
    }
  }
}

.node_info {
  margin: 0 10px;
  font-size: 11px;
  color: rgb(154, 148, 141);
  .actions { float: right; }
}

.node.child {
  margin: 25px 0 5px 0;
  border: 1px solid rgb(219, 218, 215);
  background-color: white;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 3px 0px;

  .node_image {
    float: left;
    width: 45%;
    margin-right: 5%;
  }
}

// TO REMOVE
.add_new { font-size: 12px; margin-top: 20px; }
