$color-light: rgb(219, 218, 215);
$color-medium: rgb(154, 148, 141);
// PAGE
.node.page, .node.folder {
  .main ul.sections {
    margin: 0 0 10px 10px;
    padding: 0;

    li.section {
      list-style-type: disc;
      display: block;
      padding: 3px;
      .title { font-weight: bold; }
    }

  }
}
.root .node.page ul.sections { display: none; }
.root .node.folder ul.sections { display: none; }

// SLIDES
.node {
  .slides, .photos {
    width: 100%; overflow: hidden;

    .slide {
      display: inline-block; vertical-align: top;
      width: 23%;
      margin: 5px 2% 5px 0;
      img { 
        width: 100%; 
        border: 4px solid #e7e7dd;
        box-shadow: 0 0 1px 0 rgba(0,0,0,0.8);
      }
    }
    .slide.no-border {
      img { border: 0; }
    }
  }
}
div.root .node.slides .main .slides { display: none; }
div.root .node.photos .main .slides { display: none; }

.children.slides, .children.photos {
  .node {
    display: inline-block; vertical-align: top;
    width: 20%;
    margin: 0 4% 0px 0;
    img { 
      width: 100%; 
    }
  }
  .node.no-border {
    img { border: 0; }
  }
  .action.up, .action.down { display: none; }

}

// DOWNLOAD
.node.download {
  .document {
    width: 100%; overflow: hidden;
    background-color: $color-light;

    .img {
      float: left;
      width: 20%;
      margin: 10px 2%;
      img { width: 100%; }
    }
    .info {
      a { font-size: 24px; }
    }
  }
}

// PHOTOS
.node.photo {
  .node_image {
    img { 
      border: 8px solid #e7e7dd;
      box-shadow: 0 0 1px 0 rgba(0,0,0,0.8);
    }
  }
  .node_image.no-border img { border-width: 0px; }
}
.children .node.photo {
  .node_image img {
    border-width: 4px;
  }
  .node_image.no-border img { border-width: 0px; }
}

// PROFILE
.node.profile {
  .node_image {
    float: left;
    width: 48%;
    margin: 0 2% 0 0;
  }
}

.children .node.profile {
  .image_border { border-width: 6px; }
  .node_image { width: 24%; margin-right: 1%; }
}
